    
    {% extends 'base.html' %}
      
    {% block content %}
    {% load subtract %}
    {% load prc %}

   
      <div class = "text-center" id = "about">
        <h2 class="section-heading text-uppercase">About</h2>
        <p>The Glicko rating system and Glicko-2 rating system are methods of assessing a player's strength in games of skill, such as chess and Go. The Glicko rating system was invented by Mark Glickman in 1995 as an improvement on the Elo rating system, and initially intended for the primary use as a chess rating system. Glickman's principal contribution to measurement is "ratings reliability", called RD, for ratings deviation.</p>
        <br>
        <p>this site applies the Glicko-2 rating system to the NBA.</p>
        <p>rating is a measure of a team's strength, higher = stronger.</p>
        <p>RD is a measure of the uncertainty of a team's rating, higher = more uncertainty.</p>
        <p>volatility is a measure of the uncertainty of a team's RD, higher = more uncertainty.</p>
        <p>the site updates once a day at 12 UTC.</p>
        <p>to find out more about the Glicko-2 rating system visit <a href="https://www.glicko.net/glicko/glicko2.pdf">this</a> link.</p>
    </div>
    <hr>
    <div class = "text-center" id = "rating">
        <h2 class="section-heading text-uppercase">NBA Rating</h2>
        <p>the table below shows the current rating of each team in the NBA.</p>
        <br>
    </div>
        {% comment %} button that for each confrence for later use {% endcomment %}
        {% comment %} <div class = "text-center">
            <button type="button" class="btn btn-secondary">Eastern Conference</button>
            <button type="button" class="btn btn-secondary">Western Conference</button>
            <button type="button" class="btn btn-secondary">All Teams</button>
        </div> {% endcomment %}
    <div class = "text-center">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Team</th>
                    <th scope="col">Rating</th>
                    <th scope="col">RD</th>
                    <th scope="col">Volatility</th>
                </tr>
            </thead>
            <tbody>
                
                {% for team in teams %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ team.name }}</td>
                    <td>{{ team.rating|floatformat }}</td>
                    <td>{{ team.rd|floatformat }}</td>
                    <td>{{ team.vol|floatformat }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    <hr>
    <div class = "text-center" id = "odds">
        <h2 class="section-heading text-uppercase">NBA game odds</h2>
        {%if game.date == None%}
        <p>the NBA schedule was not announced yet :(</p>
        <p>please come back later for future game odds</p>
        {%else%}
        <p>the table below shows the the odds of wining of each game by glicko-2.</p>
        <br>
    
   
     
        
        <table class="table table-striped table-hover">
            
            <thead>
                <tr>
                    <th scope="col">date</th>
                    <th scope="col">home team</th>
                    <th scope="col">away team</th>

                </tr>
            </thead>
            <tbody>
                
                {%for game in games%}
                <tr>
                    <td>{{game.date}}</td>
                    <td>{{game.home_team.name}}<br>{{game.odds|prc}}%</td>
                    <td>{{game.away_team.name}}<br>{{game.odds|subtract}}%</td>
                   
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {%endif%}
    </div>
    <hr>
    <div align="center" id = "history">
        <h2 class="section-heading text-uppercase">NBA rating history</h2>
        <p>the graph below shows the rating of each team in the NBA over time.</p>
        <p>the graph is interactive, you can zoom in and out and select what teams to show by clicing their name.</p>
        <br>
        
        {% if fig %}
    
    
    
        {{ fig|safe }}
    
{% endif %}
</div>    
    {% endblock %}



           
    